.Button {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    margin: 0.5rem;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.Button--success {
   background-color: #28a745;
}

.Button--danger {
    background-color: #dc3545;
 }

 .Counter {
    font-size: 50px;
 }

 .Counter--success {
    color: #28a745;
 }

 .Counter--danger {
    color: #dc3545;
}